<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    <table width="76%" border="0" align="center" cellspacing="0" cellpadding="3" class="tableWidth">
      <tr>
        <td id="subTitle">{% sections 'header-group' %}</td>
      </tr>
    </table>
    
    <table width="76%" border="0" align="center" cellspacing="0" cellpadding="0" class="tableWidth">
      <tr class="blak">
        <td>
          <table width="100%" border="0" align="center" cellspacing="1" cellpadding="0">
            <tr>
              <td colspan="6"> 
                <table width="100%" border="0" align="center" cellspacing="0" cellpadding="10">
                  <tr> 
                    <td id="pageContent">
                      {{ content_for_layout }}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table width="76%" border="0" align="center" valign="bottom" cellspacing="0" cellpadding="0">
      <tr>
        <td id="footer">{% sections 'footer-group' %}</td>
      </tr>
    </table>
  </body>
</html>
