{{ 'getsupp-privacy-policy.css' | asset_url | stylesheet_tag }}

<div class="getsupp-policy-page">
  <div class="policy-container">
    <h1 class="policy-title">{{ section.settings.title | default: 'Privacy Policy - GetSupp' }}</h1>
    
    <div class="policy-content">
      <p>We value the trust you place in us and recognize the importance of secure transactions and information privacy. This Privacy Policy describes how GetSupp Technologies Private Limited and its affiliates (collectively "<strong>GetSupp, we, our, us</strong>") collect, use, share or otherwise process your personal information through GetSupp website <a href="http://www.getsupp.in/">www.getsupp.in</a>, www.getsupp.com, its mobile application, and m-site (hereinafter referred to as the "Platform"). For the purpose of this Privacy Policy, the capitalised terms used herein shall derive its meaning from the User Agreement and wherever we have said 'you' or 'your' 'User' or 'Customer', this means You.</p>

      <p>This Privacy Policy outlines GetSupp approach to data protection and privacy to fulfil its obligations under the applicable laws and regulations. This Privacy Policy applies to your personal information which is used, stored and processed by us, whether in physical or electronic mode.</p>

      <p>While you may be able to browse certain sections of the Platform without registering with us, however, please note we do not offer any product or service under this Platform outside India. By visiting this Platform, providing your information or availing our Product/Service, you expressly agree to be bound by the terms and conditions of this Privacy Policy, the User Agreement and the applicable Service/Product terms and conditions, and agree to be governed by the laws of India including but not limited to the laws applicable to data protection and privacy. If you do not agree please do not use or access our Platform.</p>

      <p><strong>Our Commitment</strong></p>

      <p>We commit to protecting your privacy and hence our personal information handling practices are continually reviewed to ensure compliance with the applicable privacy laws and regulations.</p>

      <p><strong>Purpose</strong></p>

      <p>The information we learn and gather from you, personal or otherwise, is used to register you, verify your identity to permit you to use the Platform, undertake transactions (including to facilitate and process payments), communicate with you, convey any promotional offers, services or updates associated with GetSupp, and generally maintain your accounts with us. We also use this information to customize your experience and improve GetSupp. You can choose not to give/provide us certain information, but then you might not be able to use GetSupp.</p>

      <p><strong>Collection and use of Your Information</strong></p>

      <p>When you use our Platform, we collect and store your information which is provided by you from time to time. When you use our Platform, we collect information either directly from you, passively from you by using tracking tools such use of browser cookies, Google Analytics and we may collect information about you from third parties such as integrated social media platforms. In general, you can browse the Platform without telling us who you are or revealing any personal information about yourself. Once you give us your personal information, you are not anonymous to us. Where possible, we indicate which fields are required and which fields are optional. You always have the option to not provide information by choosing not to use a particular Service, Product or feature on the Platform.</p>

      <ul>
        <li>We may track your buying behaviour, preferences, and other information that you choose to provide on our Platform. We use this information to do internal research on our users' demographics, interests, and behaviour to better understand, protect and serve our users. This information is compiled and analysed on an aggregated basis. This information may include the URL that you just came from (whether this URL is on our Platform or not), which URL you next go to (whether this URL is on our Platform or not), your computer browser information, and your IP address.</li>
        <li>We may collect personal information (such as email address, delivery/shipping/billing address, name, phone number, personal health related information and other payment instrument details) from you when you set up an account or transact with us or participate in any event or contest. While you can browse some sections of our Platform without being a registered member, certain activities (such as placing an order or using our services) require registration.</li>
      </ul>

      <p>We use your personal information to provide the product and services you request. To the extent we use your personal information to market to you, we will provide you the ability to opt-out of such uses. We use your personal information to assist sellers and business partners in handling and fulfilling orders; enhancing customer experience; resolve disputes; troubleshoot problems; help promote a safe service; measure consumer interest in our products and services; inform you about online and offline offers, products, services, and updates; customize and enhance your experience; detect and protect us against error, fraud and other criminal activity; enforce our terms and conditions (as per the User Agreement); to conduct data analysis, testing, and research; and to monitor and analyse usage and activity trends and as otherwise described to you at the time of collection of information.</p>

      <p>With your consent, we may have access to your SMS, instant messages, contacts in your directory, location, camera, photo gallery and device information. We may also request you to provide your PAN, GST Number, Government issued ID cards/number and Know-Your-Customer (KYC) details to: (i) check your eligibility for certain products and services including but not limited to credit and payment products; (ii) issue GST invoice for the products and services purchased for your business requirements; (iii) enhance your experience on the Platform and provide you access to the Products and Services being offered by us, sellers, affiliates or lending partners. You understand that your access to these Products/Services may be affected in the event consent is not provided to us.</p>

      <p>In our efforts to continually improve our Product and Service offerings, we and our Affiliates collect and analyse demographic and profile data about our users' activity on our Platform. We identify and use your IP address to help diagnose problems with our server, and to administer our Platform. Your IP address is also used to help identify you and to gather broad demographic information.</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Privacy Policy",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Page Title",
      "default": "Privacy Policy - GetSupp"
    }
  ],
  "presets": [
    {
      "name": "Privacy Policy"
    }
  ]
}
{% endschema %}
