{{ 'getsupp-terms-conditions.css' | asset_url | stylesheet_tag }}

<div class="getsupp-policy-page">
  <div class="policy-container">
    <h1 class="policy-title">{{ section.settings.title | default: 'Terms & Conditions - GetSupp' }}</h1>
    
    <div class="policy-content">
      <ol>
        <li><strong>Introduction</strong></li>
      </ol>

      <p>Getsupp.com/GetSupp.in, is an online service owned, operated and managed by GetSupp Technologies Private Limited ('<strong>GetSupp</strong>' or '<strong>we</strong>' or '<strong>us</strong>'). In using/accessing the Platforms (as defined below), you are deemed to have accepted the terms and conditions of the agreement listed below or as may be revised from time to time (<strong>'User Agreement'</strong>), which is, for an indefinite period and you understand and agree that you are bound by such terms till the time you access the Platforms.</p>

      <p>The User Agreement sets forth the terms and conditions as applicable to the end-user ("<strong>you</strong>" or "<strong>User</strong>") for access and use of products (including but not limited to supplements, food, ayurveda, herbal and nutritional products) ("<strong>Products</strong>") and services (including but not limited to engagement plans, consultation with professionals, educational resources) ("<strong>Services</strong>") offered by GetSupp via:</p>

      <p>1. The website of GetSupp (<a href="http://www.getsupp.in/">www.getsupp.in</a> and www.getsupp.com) (the "<strong>Site</strong>"); or</p>

      <ol start="2">
        <li>The GetSupp mobile application (the "<strong>App</strong>") or</li>
        <li>Any other third-party application or software used by GetSupp for offering the Products and Services.</li>
      </ol>

      <p>(Collectively referred to as "<strong>Platforms</strong>").</p>

      <p>GetSupp may have subsidiaries, affiliated legal entities, sellers, manufacturers, licensors, consultants, and third-party service providers around the world ("<strong>Subsidiaries</strong>" or "<strong>Affiliates</strong>"), providing the Products and Services to you on the Platform owned by of GetSupp. You acknowledge and agree that the Subsidiaries or Affiliates will be entitled to provide the Products and Services to you under the terms of this User Agreement. If you have any queries about the terms and conditions of this User Agreement or have any comments or complaints on or about the Platforms, please email us at support@getsupp.com.</p>

      <p>We reserve the right to change the terms and conditions of this User Agreement from time to time without any obligation to inform you and it is your responsibility to look through them as often as possible. The most recent version is the version that applies. If you continue to access any of the Platforms or avail Products and/or Services after the changes become effective, then you agree to the revised User Agreement. You agree that this User Agreement shall supersede any prior agreements (except as specifically stated herein), and shall govern your entire relationship with GetSupp, including but not limited to events, agreements, and conduct preceding your acceptance of this User Agreement.</p>

      <p>By merely accessing or using Our Platforms or creating an account or registering with GetSupp either on the Site or the App, you agree to be bound by (i) the User Agreement, (ii) our Privacy Policy, which is incorporated by reference into these Terms, and (iii) any other terms as may be disclosed to you if you purchase Products and/or Services offered by GetSupp on any of the aforesaid Platforms, as amended from time to time. If you do not accept and agree to be bound by this User Agreement, you shall not access or use the Products and Services offered by GetSupp on any of these Platforms. <strong>ACCESSING, BROWSING OR OTHERWISE USING THE PLATFORMS INDICATE YOUR UNCONDITIONAL AGREEMENT TO ALL THE TERMS OF THE USER AGREEMENT, SO PLEASE READ THIS USER AGREEMENT CAREFULLY BEFORE PROCEEDING</strong>. If you do not agree to any of the terms enumerated in the User Agreement or the policies, please do not use the Platform.</p>

      <p>The Platforms are only to be used for your personal non-commercial use and information. Your use of the Products and Services offered on the Platforms shall be governed by this User Agreement along with the Privacy Policy, Shipping Policy and Cancellation, Refund and Return Policy (together "<strong>Policies</strong>") as modified and amended from time to time.</p>

      <ol start="2">
        <li><strong>Privacy Policy</strong></li>
      </ol>

      <p>We understand the importance of safeguarding your personal information and we have formulated a Privacy Policy, to ensure that your personal information is sufficiently protected. Apart from the User Agreement, the Privacy Policy shall also govern your visit and use of the Platforms. Your continued use of the Platforms implies that you have read and accepted the Privacy Policy and agree to be bound by its terms and conditions. You consent to the use of personal information by us in accordance with the terms of and purposes set forth in the Privacy Policy, the same may be subject to amendment from time to time at the sole discretion of GetSupp. If you object to your information being transferred or used, please do not use the Platforms.</p>

      <ol start="3">
        <li><strong>Eligibility for Access</strong></li>
      </ol>

      <p>You must be at least 18 years of age to access and use the Platforms. If you are under 18 years of age, you may access and use the Platforms only under the supervision of a parent or legal guardian who agrees to be bound by this User Agreement. You represent and warrant that you have the right, authority, and capacity to enter into this User Agreement and to abide by all the terms and conditions of this User Agreement.</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Terms & Conditions",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Page Title",
      "default": "Terms & Conditions - GetSupp"
    }
  ],
  "presets": [
    {
      "name": "Terms & Conditions"
    }
  ]
}
{% endschema %}
