<section class="page-width">
  <div class="cart-footer">
    <a href="/collections/all">Continue shopping</a>
  </div>
</section>

{% schema %}
{
  "name": "Cart footer",
  "settings": [],
  "blocks": [],
  "tag": "section"
}
{% endschema %}




